* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 2%;

  font-family: "Public Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header div {
  display: flex;
  align-items: center;
  gap: 5px;

  font-weight: 800;
  font-size: 20px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  font-size: 16px;
}

header ul li a {
  padding: 5px 8px;

  text-decoration: none;
  color: black;
}

header ul li button {
  font-size: 16px;
  color: white;

  padding: 10px;
  background-color: #5bc241;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

header ul li a:hover {
  transition: 0.2s ease-in-out;

  color: white;

  padding: 5px 8px;

  background-color: #5bc241;
  border: none;
  border-radius: 10px;
}
