* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "about about about about"
    "services services services services"
    "projects projects projects projects"
    "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.6rem;
  font-family: "Robot", sans-serif;
  font-weight: 400;
}

.header {
  grid-area: header;

  background: url("./assets/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 30px;
  min-height: 200px;
  height: 80vh;
  max-height: 700px;

  color: white;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links ul {
  font-size: 16px;

  display: flex;
  align-items: center;
  gap: 50px;
}

.header-links ul li {
  cursor: pointer;
}

.header-links ul li:nth-last-child(1) {
  color: black;

  margin-left: -10px;

  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
}

.header-title {
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.header-title img {
  width: 30px;
}

.about {
  grid-area: about;
}

.transformation-post,
.audience-post,
.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
}

.content {
  padding: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  gap: 15px;
}

.content h2 {
  font-size: 30px;
  color: var(--very-dark-desaturated-blue);
}

.content p {
  font-size: 18px;
  line-height: 150%;
  width: 88%;
  color: var(--very-dark-grayish-blue);
}

.content a {
  width: 103px;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  text-decoration: none;
  color: var(--very-dark-desaturated-blue);
  cursor: pointer;

  position: relative;
}

.content a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  z-index: -1;

  width: 103px;
  height: 6px;
  border-radius: 10px;

  background-color: #fdeeb8; /* Cor amarela */
}

.content a:hover::before {
  background-color: var(--yellow);
}

.transformation-post .image-content {
  background: url("./assets/desktop/image-transform.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.audience-post .content a::before {
  background-color: #ffdad0;
}

.audience-post .content a:hover::before {
  background-color: var(--soft-red);
}

.audience-post .image-content {
  background: url("./assets/desktop/image-stand-out.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.graphic-post {
  background: url("./assets/desktop/image-graphic-design.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding: 30px;
  gap: 10px;

  text-align: center;
}

.graphic-post h2 {
  font-size: 30px;
  color: var(--dark-desaturated-cyan);
}

.graphic-post p {
  font-size: 18px;
  line-height: 150%;

  width: 55%;
  color: var(--dark-desaturated-cyan);
}

.photography-post {
  background: url("./assets/desktop/image-photography.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding: 30px;
  gap: 10px;

  text-align: center;
}

.photography-post h2 {
  font-size: 30px;
  color: var(--dark-blue);
}

.photography-post p {
  font-size: 18px;
  line-height: 150%;

  width: 55%;
  color: var(--dark-blue);
}

.services {
  grid-area: services;

  height: 700px;
  padding: 120px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.services h2 {
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 10px;
}

.clients {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.client {
  width: 350px;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.client img {
  border-radius: 50%;
  width: 100px;
}

.client p {
  color: var(--very-dark-grayish-blue);
}

.client-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.client-details h3 {
  color: var(--very-dark-desaturated-blue);
  font-size: 18px;
}

.client-details span {
  color: var(--dark-grayish-blue);
  font-size: 15px;
}

.projects {
  grid-area: projects;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects img {
  width: 379.9px;
}

.footer {
  grid-area: footer;
}
